.image {
  margin: 0 auto ;
  min-width: 300px;
  max-width: 1500px;
  min-height: 300px;
  position: relative;
  background-color: #fafafa;
}

.image__main__photo {
   width: 100%;
   float: left;
    
  vertical-align: bottom;
}
.image__sub {
  line-height: 0;
  height: 400px;
}
.image__sub__thumb {
  display: block;
  float: right;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.image__sub__thumb__photo {
  padding: 0;
  margin: 0；
}
.image__sub__thumb:not(.active) {
  opacity: 0.4;
}
.box {
   border-bottom: 10px solid rgb(67, 26, 85);
}

.btn{
  border: 1px solid green;
  border-radius: 5px;
  background-color: green;
  padding: 20px;
  text-align: center;
  color: white;
  width: 150px;
}
